body {
  margin: 0;
  text-align: center;
  font-size: 200%;
}

h1 {
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #393e46;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #393e46;
}

.top-container {
  background-color: #cceabb;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.normal {
  font-weight: normal;
}

.baymax {
  width: 35%;
  float: right;
  margin-left: 40px;
}

.toothless {
  width: 30%;
  float: left;
  margin-right: 30px;
}
